.search{
    display: flex;
    align-items: center;
    justify-content: center;
}
.search input{
    width:500px;
    outline: none;
    height: 2.2rem;
    padding: 0.8rem;
    font-size: 18px;
    border: 1px solid #000000;
    border-radius: 0.5rem;
    border-right: 0;
    border-right-color: aliceblue;
    border-top-right-radius:0;
    border-bottom-right-radius: 0;
   
}
.search .search-icon{
   
    color: black;
    background-color: white;
 cursor: pointer;
   width: 33px;
   height: 35px;
   padding: 1px;
   border: 1px solid black;
    border-radius: 0.5rem;
    border-left:none;
    border-top-left-radius: 0;
    border-bottom-left-radius:0;
}

